.market_title {
    height: 36px;
    background-color: #434343;
    line-height: 36px;
}

.market_title_center {
    width: 960px;
    margin: auto;
    position: relative;
}

.market_title_left {
    position: absolute;
    width: 460px;
    height: 36px;
    top: 0;
}

.market_title_right>ul>li,
.market_title_left>ul>li {
    float: left;
    margin-right: 30px;
}

.market_title_right>ul>li {
    width: 100px;
    height: 36px;
}

.market_title_left_s {
    display: none;
}

.market_title_right>ul>li:nth-child(5),
.market_title_left>ul>li:nth-child(5) {
    float: left;
    margin-right: 0px;
}

.market_title_left>ul>li:nth-child(4) {
    border-bottom: 2px solid #db3221;
    height: 34px;
    color: #ffffff;
}

.market_title_left_a {
    position: relative;
}

.market_title_left_s {
    position: absolute;
    top: 35px;
    left: -29px;
    width: 116px;
    height: 180px;
    background-color: black;
    opacity: 0.7;
    text-align: center;
    z-index: 99;
}

.soft-info-arrow {
    float: right;
    margin: 18px 4px 0 2px;
    width: 0;
    height: 0;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.market_title_left_a:hover .market_title_left_s {
    display: block;
}


.market_title_left>ul>li:hover>a {
    color: aliceblue;
}

.market_title_right>ul>li>a,
.market_title_left>ul>li>a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 14px;
}

.market_title_right {
    float: right;
    width: 118px;
    height: 36px;

}

.market_title_left_a>ul>li:hover a {
    color: #ffffff;
}

.market_title_left_s>li>a {
    color: #8f8f8f;
    text-decoration: none;
}

#market_title_left_fff {
    color: #ffffff;
    font-weight: bold;
}

.market_title_right_a {
    position: relative;
}

.market_title_right-s {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    width: 99px;
    height: 71px;
    border-radius: 20px;
    background-color: black;
    opacity: 0.7;
    text-align: center;
    border-radius: 1px 1px 8px 8px;
}

.market_title_right_a:hover .market_title_right-s {
    z-index: 99;
    display: block;
}

.market_title_right-s>li>a {
    color: #ffffff;
    text-decoration: none;
}

.market_logo {
    height: 80px;

}

.market_logo_center {
    width: 960px;
    margin: auto;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #e4e4e4;
}

.market_logo_left {
    width: 437px;
    height: 65px;
    float: left;
}

.market_logo_left>a {
    width: 437px;
    height: 65px;
    line-height: 116px;
    margin-left: 20px;
}

.market_logo_right {
    position: relative;
    float: right;
    width: 329px;
    height: 33px;
    border: 1px solid #e5e5e5;
    margin-top: 23px;
    border-radius: 7px;
}

.market_logo_right>.market_logo_input {
    position: absolute;
    top: 10px;
    left: 11px;
    border: none;
    width: 280px;
    height: 15px;
    color: #c5c5c5;
    border-right: 1px solid #d9d9d9
}

.btn {
    position: absolute;
    top: 5px;
    left: 301px;
    border: none;
    background-color: #ffffff;

}

.btn>.iconfont {
    font-size: 20px;
    color: #b2b2b2;
}

.market_logo_left>a {
    width: 437px;
    height: 65px;
    line-height: 122px;
    margin-left: 20px;
}

.market_title_right>ul>li>a,
.market_title_left>ul>li>a {
    text-decoration: none;
    color: #a7a7a7;
    font-size: 14px;
}

.market_title_left_s {
    position: absolute;
    top: 35px;
    left: -24px;
    width: 116px;
    height: 180px;
    background-color: black;
    opacity: 0.7;
    text-align: center;
    z-index: 99;
}

/* 筋斗云 */

#navBa {
    list-style: none
}

#navBar>li>a {
    text-decoration: none;
    font-size: 16px;

}

#navBar>li:nth-child(1) a:nth-child(1) {
    color: #db2121;
    font-weight: bold;
}

.jdy {
    border-bottom: 1px solid #e4e4e4;
    margin-top: 5px;
}

.nav {
    width: 960px;
    height: 42px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

.nav li {
    width: 83px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    float: left;
    cursor: pointer;
}

.nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 43px;
    height: 71px;
    background: url(/images/market/market_red.png) right center no-repeat;
}

#navBar {
    position: relative;
}

#navBar>li>a:hover {
    color: #db2121;
}

.main {
    height: 1416px;
    background-color: #f7f7f7;
}

.main_center {
    width: 962px;
    margin: auto;
    padding-top: 10px;
    height: 560px;
}

.Boutique {
    width: 716px;
    height: 500px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    float: left;
}

.Boutique_left_box {
    width: 714px;
    height: 45px;

}

.Boutique_left_a {
    float: left;
    width: 65px;
    height: 45px;
    line-height: 45px;
    margin-left: 20px;
}

.Boutique_left_a>span {
    font-size: 16px;

}

.Boutique_left_b {
    float: right;
    width: 52px;
    height: 45px;
    line-height: 45px;
    margin-right: 20px;

}

.Boutique_left_b>span {
    color: #24b9bf;
    font-size: 12px;
}

.boutique_all_app {
    width: 714px;
    height: 453px;
    text-align: center;

}

.boutique_all_app_ul {
    position: relative;
    width: 129px;
    height: 151px;
    margin-left: 8px;
}

.boutique_all_app_ul:hover {
    background-color: #eaf4f9;
    border-radius: 6px;
}


.boutique_all_app_li {
    width: 129px;
    height: 73px;
    padding-top: 10px;
}


.boutique_all_app_li>a>img {
    width: 64px;
    height: 64px;
}

.boutique_all_app_li_b,
.boutique_all_app_li_a {
    width: 129px;
    height: 24px;
    line-height: 24px;
}

.boutique_all_app_ul a {
    text-decoration: none;
    font-size: 12px;

}

.boutique_all_app_li_a>a {
    font-weight: bold;
}

.boutique_all_app_li_b {
    color: #666666;
}

.boutique_all_app_ul:hover .boutique_all_app_li_x {
    display: block;
}

.boutique_all_app_li_x {
    text-align: center;
    color: #666;
    font-size: 12px;
    line-height: 24px;
    width: 83px;
    height: 24px;
    line-height: 24px;
    background-color: #28c0c6;
    position: absolute;
    top: 106px;
    left: 22px;
    border-radius: 6px;
    display: none;
}
.boutique_all_app_li_x:hover{
    background-color:#09b0b7 ;
}
.boutique_all_app_li_x>a {
    color: #ffffff;
    font-weight: bold;
}

.boutique_all_app_li_x>a>span {
    color: #ffffff;
}

.boutique_all_app_ul {
    float: left;
}

.Boutique_right {
    width: 237px;
    height: 182px;
    float: right;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-left: 5px;
}

.Boutique_right_a {
    background-image: url(/images/market/market_sjb.png);
    background-repeat: no-repeat;
    width: 237px;
    height: 182px;
    padding-top: 14px;
}

.Boutique_right_aa {
    background: url(/images/market/market_sm.png);
    background-size: 96px 96px;
    background-repeat: no-repeat;
    width: 98px;
    height: 98px;
    background-position: center top;
    margin: auto;
}

.Boutique_right_b {
    width: 120px;
    height: 30px;
    /* margin-top: 21px; */
    padding-top: 102px;
    padding-left: 12px;
}

.Boutique_right_b>span {
    color: #7f7f7f;
}

.Boutique_right_c {
    width: 114px;
    height: 24px;
    background-color: #28c0c6;
    line-height: 24px;
    text-align: center;
    border-radius: 6px;
    padding-left: -19px;
    margin-left: -18px;
    margin-top: 11px;
}

.Boutique_right_c>span>a {
    color: #fefefc;
    text-decoration: none;
}

.Boutique_right_c>span>img {
    vertical-align: text-bottom;
}

.market_right_box {
    width: 237px;
    height: 158px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.market_right_box_mr {
    width: 235px;
    height: 45px;
    margin-left: 10px;
    line-height: 45px;
}

.market_right_box_mr>span {
    font-size: 16px;
}

.market_right_box_bd {
    width: 84px;
    height: 68px;
    float: left;
}

.market_right_box_bd_box {
    width: 221px;
    height: 68px;
    margin-left: 11px;

}

.market_right_box_bd>img {
    width: 64px;
    height: 64px;
}

.market_right_box_ks {
    width: 211px;
    height: 25px;
}

.market_right_box_llq>p>a {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #666666;
}

.market_right_box_llq>p {
    margin-bottom: 16px;
}

.market_right_box_llq>a {
    text-decoration: none;
    padding-left: 25px;
    padding-top: 5px;
    margin-top: 18px;
    padding-bottom: 5px;
    padding-right: 25px;
    background-color: #28c0c6;
    border-radius: 4px;
    color: #ffffff;
}

.market_right_box_ks {
    width: 211px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-top: 2px;
    color: #7c7c7c;
}

.banking_one_box {
    float: left;
    width: 230px;
    height: 362px;
}

.banking {

    height: 436px;
    background-color: #ffffff;
    border: 1px solid #e3e3e4;
    /* float: left; */
    width: 960px;
    margin: auto;
}

/* 王者荣耀 */
.banking_one_box_a_b,
.banking_one_box_a {
    width: 216px;
    height: 52px;
    margin: auto;
    margin-top: 13px;
}

.banking_one_box_a_a_b,
.banking_one_box_a_a {
    float: left;

}

.banking_one_box_a_a_b>em,
.banking_one_box_a_a>em {
    color: #fff;
    background: url(/images/market/banking.gif) no-repeat -3px -187px;
    width: 13px;
    height: 13px;
    padding-right: 4px;
    padding-left: 3px;
}


.banking_one_box_b_a_b,
.banking_one_box_b_a {
    float: left;
    margin-left: 16px;
    margin-top: -8px;
}

.banking_one_box_b_a_b>img,
.banking_one_box_b_a>img {
    width: 48px;
    height: 48px;
}

.banking_one_box_b_b,
.banking_one_box_b {
    float: left;
    margin-left: 13px;
    margin-top: -7px;
}

.banking_one_box_b_b>a,
.banking_one_box_b>a {
    width: 72px;
    height: 24px;
    line-height: 35px;
    text-align: center;
    padding: 6px 33px;
    background-color: #28c0c6;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.banking_one_box_b_b>p,
.banking_one_box_b>p {
    font-size: 14px;
    font-weight: bold;
}

.banking_center {
    width: 962px;
    margin: auto;
}


.banking_one_box_p {
    width: 239px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 16px;
}



.banking_one_box_a_aa {

    float: left;
    width: 216px;
    height: 32px;
    line-height: 32px;
    margin-left: 7px;
}



.banking_one_box_a_aa>em {
    color: #fff;
    background: url(/images/market/banking.gif) no-repeat -3px -187px;
    width: 13px;
    height: 13px;
    padding-right: 4px;
    padding-left: 3px;
}


.banking_one_box_a_aa>a {
    margin-left: 7px;
    text-decoration: none;
    color: #777777;
    margin-right: 101px;
}

.banking_one_box_a_b {
    display: block;
}

.banking_one_box_a_aa_b {
    float: left;
    width: 216px;
    height: 32px;
    line-height: 32px;
    margin-left: 7px;
}

.banking_one_box_a_aa_b>em {
    color: #fff;
    background: url(/images/market/banking.gif) no-repeat -3px -187px;
    width: 13px;
    height: 13px;
    padding-right: 4px;
    padding-left: 3px;
}

.banking_one_box_a_aa_b>a {
    margin-left: 7px;
    text-decoration: none;
    color: #777777;
    margin-right: 101px;
}


.banking_one_box_a_aa_b {
    width: 216px;
    height: 52px;
    margin: auto;
    margin-top: 13px;
    padding-left: 7px;
}

.banking_one_box_a_b {
    float: left;
    width: 216px;
    height: 32px;
    line-height: 32px;
    margin-left: 7px;
}

.banking_one_box_a_aa_b {
    width: 227px;
    height: 52px;
    margin: auto;
    margin-top: 13px;
    padding-left: 6px;
}

.banking_one_box_a_aa_b>span {
    color: #7c7c7c;
}

.banking_one_box_a_aa>span {
    color: #7c7c7c;
}

.banking_one_box_a_aa_b {
    width: 227px;
    height: 16px;
    margin: auto;
    margin-top: 13px;
    padding-left: 6px;
}

/* .banking_one_box_a_b {
    display: none;
} */

.banking_one_box_a_b {
    float: left;
    width: 216px;
    height: 65px;
    line-height: 32px;
    margin-left: 7px;
}

.banking_one_box_a_aa_b {
    width: 227px;
    height: 28px;
    margin: auto;
    /* margin-top: 10px; */
    padding-left: 6px;
}

.banking_one_box_a_aa_b>a {
    margin-left: 7px;
    text-decoration: none;
    color: #777777;
    margin-right: 101px;
}

.banking_one_box_a_aa_b {
    width: 216px;
    height: 32px;
    margin: auto;
    /* margin-top: 10px; */
    padding-left: 6px;
}

.banking_one_box_a_aa_b>a {
    margin-left: 7px;
    text-decoration: none;
    color: #777777;
    margin-right: 90px;
}

.banking_one_box_a_aa_b:nth-child(4)>a {
    margin-left: 7px;
    text-decoration: none;
    color: #777777;
    margin-right: 102px;
}

/* .banking_one_box_a_aa {
    display: none;
} */


.active_box {
    display: none;
}

.active_box+.banking_one_box_a_b {
    display: block;
}

.active_box+.banking_one_box_a_aa_b {
    display: block;
}

.banking_one_box_a_b {
    float: left;
    width: 216px;
    height: 65px;
    line-height: 32px;
    margin-left: 7px;
    display: none;
}

.banking_one_box_a_aa_b>span {
    color: #7c7c7c;
    float: right;
}

.banking_one_box_a_aa_b>a {
    margin-left: 7px;
    text-decoration: none;
    color: #777777;
    margin-right: 88px;
}

.banking_one_box {
    float: left;
    width: 230px;
    height: 362px;
    border-right: 1px solid #d9d9d9;
    margin-top: 25px;

    margin-left: 9px;
}

.banking_one_box_p {
    width: 239px;
    height: 42px;
    line-height: 41px;
    font-size: 16px;
    text-align: center;
}

.banking_one_box_a_aa_b:nth-child(4)>a {
    margin-left: 7px;
    text-decoration: none;
    color: #777777;
    margin-right: 75px;
}

.banking_one_box_a_aa_b>a {
    margin-left: 7px;
    text-decoration: none;
    color: #777777;
    margin-right: 75px;
}

.banking_one_box {
    float: left;
    width: 230px;
    height: 435px;
    border-right: 1px solid #d9d9d9;
    margin-top: 25px;
    margin-left: 9px;
}

.banking {
    height: 477px;
    background-color: #ffffff;
    border: 1px solid #e3e3e4;
    /* float: left; */
    width: 960px;
    margin: auto;
}

.banking_one_box_a_aa_b>em {
    color: #fff;
    background: url(/images/market/banking.gif) no-repeat 1px -187px;
    width: 29px;
    height: 13px;
    padding-right: 3px;
    padding-left: 3px;
}


#s {
    color: #66667a;
    background: url(/images/market/banking.gif) no-repeat -30px -186px;
}

.gd {
    width: 216px;
    height: 20px;

}

.gd>a {
    float: right;
    color: #24b9bf;
    text-decoration: none;
    font-size: 12px;
}

.Topic {

    height: 347px;

}

.Topic_center {
    width: 962px;
    margin: auto;
}

.Topic_box {
    border: 1px solid #e5e5e5;
    width: 962px;
    height: 347px;
    background-color: #ffffff;
}

.Topic_left {
    float: left;
    width: 326px;
    height: 368px;
    padding-left: 40px;
    padding-top: 20px;
}

.Topic_one {
    width: 362px;
    height: 45px;
    line-height: 45px;
}

.Topic_one>span {
    font-size: 16px;

}

.Topic_text {
    width: 326px;
    height: 78px;
    padding-top: 20px
}

.Topic_text>h5 {
    font-size: 14px;
    color: #333;
}

.Topic_text>h5:hover {
    color: #87b9bf;
}

.Topic_text>p {
    font-size: 12px;
    padding-top: 5px;
    line-height: 24px;
    color: #333;
}

.Topic_right {
    width: 582px;
    height: 295px;
    float: left;
}

.Topic_gd {
    height: 45px;
    line-height: 45px;
    float: right;
}

.Topic_ul {
    width: 582px;
    height: 50px;
}

.Topic_ul {
    width: 582px;
    height: 50px;
    margin-top: 65px;
}

.Topic_ul>ul>li {
    float: left;
    width: 145px;
    height: 125px;
}

.Topic_ul>ul>li>a>img {
    width: 138px;
    height: 71px;
}

.Topic_gd {
    height: 45px;
    line-height: 45px;
    float: right;
    margin-top: 11px;

}

.Topic_gd>a {
    text-decoration: none;
    font-size: 12px;
    color: #24b9bf;
}

.Topic_ul>ul>li>a {
    text-decoration: none;
}

.Topic_ul>ul>li>a>p {
    width: 150px;
    height: 24px;
    line-height: 24px;
    margin-top: 5px;
    text-align: center;
}

.Topic_left {
    float: left;
    width: 312px;
    height: 368px;
    padding-left: 40px;
    padding-top: 20px;
}

.Topic_right {
    width: 594px;
    height: 295px;
    float: left;
}


.user_box_c>span>img {
    width: 20px;
    height: 20px;
}

.user {
    width: 100%;
    background-image: url(/images/market/ddd.gif);
    height: 240px;
}

.user_center {
    width: 960px;
    margin: auto;
}

.user_box_c, .user_box_b, .user_box_a {
    height: 23px;
    line-height: 23px;
}

.Topic_left {
    float: left;
    width: 312px;
    height: 330px;
    padding-left: 40px;
    padding-top: 20px;
}

.user {
    width: 100%;
    background-image: url(/images/market/ddd.gif);
    height: 240px;
    text-align: center;
    padding-top: 32px;
}

.user_box_d{
    width: 200px;
    height: 110px;
}

.user_box_d {
    width: 200px;
    height: 110px;
    /* text-align: center; */
    margin-left: 402px;
    margin-top: 27px;
}

.user_box_d>a>p{
    margin-top: 9px;
    margin-left: 1px;
}

.user_box_d>a{
    text-decoration: none ;
}